.videoCard {
  color: white;
  width: 400px;
  height: 400px;
  padding: 20px;
  transition: transform 100ms;
}
@media only screen and (max-width: 400px) {
    .videoCard {
      height: 350px;
      object-fit: contain;
      width: 330px;
      transition: none;
    }
    .videoCard:hover {
        transform: none;
      }
  }
.videoCard:hover {
  transform: scale(1.09);
}

.videoCard > img {
  height: 250px;
  object-fit: contain;
  width: 400px;
}
@media only screen and (max-width: 400px) {
  .videoCard > img {
    height: 250px;
    object-fit: contain;
    width: 330px;
  }
}
.videoCard__stats {
  display: none;
}
.videoCard:hover > .videoCard__stats {
  display: inline;
}

.videoCard > h2 {
 font-size: 20px;
  padding-top: 0px;
}
